<form [formGroup]="formInput"  >
<div class="container">
    <div class="row-3">
        <!-- <div class="col pt-5">
            <p>Ürün Adı: {{ productDetail.name }}</p>
            <p>Marka: {{ productDetail.marka }}</p>
            <p>Model: {{ productDetail.model }}</p>
            <p>Stok: {{ productDetail.stock }}</p>


            <p>Renk: {{ variant.color }}</p>
            <p>{{ productId.renk }}</p>
        </div> -->
        <!-- <div *ngFor="let p of products" class="row">
            <div class="col-md-8" flex="100" alignItems="center">
              <p>{{p.name+' '+p.renk}}</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="getRenk()">Renk</button> -->
    </div>
</div>
</form>