<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-5" style="border: 2px  solid rgb(168, 54, 149);">
            <div class="mb-2 mx-auto">
                <p><li><b>Algoritma Problemi</b></li></p>
                <p>1'den 1000'e kadar olan bütüm sayılar için teker teker yapılacak işlemler;</p>
                <p>Tek sayılar için = (n*3)+1</p>
                <p>Çift sayılar için = n/2</p>
                
                <p><b>Örnek;</b></p>
                <p>n=5 olsun</p>
                <p>step1: (5*3)+1 = 16</p>
                <p>step2: 16/2 = 8</p>
                <p>step3: 8/2 = 4</p>
                <p>step4: 4/2 = 2</p>
                <p>step5: 2/2 = 1</p>
                <p>n=5 için step=5'tir.</p>
                <p>Hesapla butonu console'da 1'den 100'e kadar tüm sayılar için step sayısını hesaplayacaktır.</p>
                <div class="row mx-auto col-4">
                    <button type="submit" class="btn btn-primary" (click)="hesapla()">Hesaplama</button>
                </div>
            </div>
        </div>
    </div>
</div>